body .container {
    margin: 10px auto;
    background-color: #69e2ed82;
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    border-radius: 14px;
}

h1 {
    padding: 15px 0 5px 0;
    font-size: 50px;
}

h2 {
    font-style: italic;
    font-size: 25px;
}

.row {
    margin: 10px auto;
    padding: 10px;
    align-self: stretch;
}

div .button-city {
    padding: 15px 10px 5px 10px;
    margin: 0 auto;
}
.city {
    margin: 8px auto;
    padding: 10px;
    border: 2px;
    background-color: #6ec6ef;
    transition: all 150ms ease-in-out;
}
.city:hover {
    background-color: #f4f470;
}
#city-position {
    margin: 8px auto;
    padding: 10px;
    border: 2px;
    background-color: #6ec6ef;
    transition: all 150ms ease-in-out;
}
#city-position:hover {
    background-color: #f4f470;
}
.fa-globe {
     color: #08e1f582;
 }
.fa-earth-europe {
    color: #08e1f582;
}

.btn {
    padding: 10px;
    border: none;
    background-color: #6ec6ef;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.form-search {
    margin: 2px auto;
    padding: 25px 5px 5px 5px;
    text-align: center;
}
#input-search{
    padding: 10px 0;
}
#button-search {
    margin: 10px auto;
    padding: 10px;
    color: black;
    font-size: medium;
}

.date {
     padding: 5px 0;
 }
.day {
     padding: 5px 0;
 }
.time {
    padding: 5px 0; 
}
#date {
    font-size: 25px;
}
#day {
    font-size: 17px;
    opacity: 0.8;
}
#time {
    font-size: 15px;
    opacity: 0.8;
}

.col {
    margin: 5px auto;
}

div .meteorologi {
    margin: 10px auto;
    padding: 10px;
    align-self: center;
    top: 100px;
    left: 50px;
}
.dragon-icon {
    margin: 3px 0;
    padding: 3px 0;
    color: #2bae34;
}
.wind-icon {
    position: relative;
    top: -10px;
}
#whale-icon {
    padding: 3px 0 10px 8px;
}

.temperature-main {
    margin: 0 auto;
    background-color: #6ec6ef;
    text-align: center;
}

#temp-description {
    margin: 2px auto;
    text-transform: capitalize;
}
img {
    padding: 8px 0 12px 0;
}
#icon {
    font-weight: 20px;
}

.container-weather-forecast {
    margin: 10px auto;
    padding: 10px;
}
#weather-forecast{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.week-day-forecast {
    flex-basis: 10%;
    max-width: 16%;
    min-width: 160px;
    flex-grow: 1;
    margin: 0 8px 10px;
    padding: 12px;
    border: solid 1.5px #6ec6ef;
    text-align: center;
    font-size: 17px;
}

.day-forecast {
    opacity: 0.7;
}

#name {
    margin: 15px auto 5px;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}
