body .container {
    margin: 10px auto;
    background-color: #69e2ed82;
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    border-radius: 14px;
}

h1 {
    padding: 15px 0 5px 0;
    font-size: 50px;
}

h2 {
    font-style: italic;
    font-size: 25px;
}

.row {
    margin: 10px auto;
    padding: 10px;
    align-self: stretch;
}

div .button-city {
    padding: 15px 10px 5px 10px;
    margin: 0 auto;
}
.city {
    margin: 8px auto;
    padding: 10px 25px;
    border: 2px;
    background-color: #6ec6ef;
    transition: all 150ms ease-in-out;
}
.city:hover {
    background-color: #f4f470;
}
#city-position {
    margin: 8px auto;
    padding: 10px 10px;
    border: 2px;
    background-color: #6ec6ef;
    transition: all 150ms ease-in-out;
}
#city-position:hover {
    background-color: #f4f470;
}
.fa-globe {
     color: #08e1f582;
 }
.fa-earth-europe {
    color: #08e1f582;
}

div .c-f-icon {
    margin: 5px auto;
    padding: 20px 60px 5px 10px;
    text-align: center;
}
#scale-icon {
 color: #d24044;
}
.fa-scale-unbalanced {
 color: #e39c9f;
}
.btn {
    padding: 10px;
    border: none;
    background-color: #6ec6ef;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.celsius {
    margin: 5px auto;
    padding: 7px 13px;
    border: 1px;
    background-color: #f4f470;
    transition: all 150ms ease-in-out;
    }  
.celsius:focus {
        background-color: #6ec6ef;
    }
.fahrenheit {
     margin: 5px auto;
     padding: 7px 10px;
     border: 1px;
     background-color: #6ec6ef;
     transition: all 150ms ease-in-out;
 }
.fahrenheit:focus {
     background-color: #f4f470;
    }

.form-search {
    margin: 2px auto;
    padding: 2px 30px;
}
#button-search {
    color: black;
    font-size: medium;
}

.date {
     padding: 5px 0;
 }
.day {
     padding: 5px 0;
 }
.time {
    padding: 5px 0; 
}
#date {
    font-size: 25px;
}
#day {
    font-size: 17px;
}
#time {
    font-size: 15px;
}

.card-body {
    text-align: center;
    background-color: #6ec6ef;
}

.col {
    margin: 5px auto;
}

div .meteorologi {
    margin: 10px auto;
    padding: 10px;
    align-self: center;
    top: 100px;
    left: 50px;
}

.dragon-icon {
    margin: 3px 0;
    padding: 3px 0;
    color: #2bae34;
}

.wind-icon {
    position: relative;
    top: -10px;
}

.temperature-main {
    margin: 0 auto;
    background-color: #6ec6ef;
    text-align: center;
}

#temp-description {
    margin: 2px auto;
    text-transform: capitalize;
}
img {
    padding: 0 0 15px 0;
}
#icon {
    font-weight: 20px;
}

.sun-icon {
    padding: 0 0 10px 0;
    margin: 5px auto;
    color: #f4f470;
}

.week {
    color: #f4f470;
}
.day-forecast {
    opacity: 0.7;
}

#name {
    margin: 15px auto 5px;
    padding: 5px;
    text-align: center;
    font-size: 10px;
}
